In [3]:
#   ! pip install pandas

In [1]:
import pandas as pd

In [7]:
a = pd.Series( [10, 20, 30, 40, 50, 40, 30, 20, 10] )

In [13]:
b = a ** 2

In [17]:
a

0    10
1    20
2    30
3    40
4    50
5    40
6    30
7    20
8    10
dtype: int64

In [19]:
b

0     100
1     400
2     900
3    1600
4    2500
5    1600
6     900
7     400
8     100
dtype: int64

In [25]:
df = pd.DataFrame( { "valores": a, "quadrados": b } ) 
df

   valores  quadrados
0       10        100
1       20        400
2       30        900
3       40       1600
4       50       2500
5       40       1600
6       30        900
7       20        400
8       10        100

In [45]:
df.loc[6]

valores       30
quadrados    900
Name: 6, dtype: int64

In [63]:
df1 = pd.DataFrame( list( zip(a, b) ), columns=["valores", "quadrado"] )
df1

   valores  quadrado
0       10       100
1       20       400
2       30       900
3       40      1600
4       50      2500
5       40      1600
6       30       900
7       20       400
8       10       100