In [ ]:
#   !pip install pandas

In [1]:
import pandas as pd

In [13]:
# cliente          A  B  C  D  E
loja = { 
    "notebooks" : [2, 5, 1, 7, 3],
    "celulares" : [6, 10, 7, 8, 9]
}

In [15]:
df_loja = pd.DataFrame( loja )

In [19]:
df_loja["notebooks"][3]

7

In [23]:
df_loja = pd.DataFrame( loja, index=['A', 'B', 'C', 'D', 'E'] )

In [25]:
df_loja

   notebooks  celulares
A          2          6
B          5         10
C          1          7
D          7          8
E          3          9

In [27]:
df_loja["celulares"]["C"]

7

In [37]:
df_loja = pd.DataFrame.from_dict( loja, orient="index", columns=['A', 'B', 'C', 'D', 'E'] )

In [39]:
df_loja

           A   B  C  D  E
notebooks  2   5  1  7  3
celulares  6  10  7  8  9

In [41]:
df_loja["A"]["celulares"]

6

In [47]:
df_sentimentos = pd.read_csv( "../../../dados/nlp/analise_sentimento_portugues.csv", encoding="utf-8" )

In [49]:
df_sentimentos

   sentimento                                          paragrafo
0    positivo  Hoje o dia está ensolarado e perfeito para um ...
1    negativo  Infelizmente, o ônibus atrasou e cheguei tarde...
2      neutro   O café na cozinha acabou e preciso comprar mais.
3    positivo  Recebi uma promoção no trabalho e estou muito ...
4    negativo   Perdi meu celular e estou me sentindo frustrado.
5      neutro  O jantar foi servido às sete da noite como de ...
6    positivo     Passei no exame final e agora posso me formar.
7    negativo  A chuva forte causou muitos transtornos no trâ...
8      neutro  A reunião foi agendada para a próxima quarta-f...
9    positivo  Ganhei um presente maravilhoso de aniversário ...
10   negativo  Briguei com um amigo e agora estou me sentindo...
11     neutro  Fui ao supermercado e comprei frutas e vegetai...
12   positivo  O show da minha banda favorita foi incrível e ...
13   negativo          Estou doente e preciso descansar em casa.
14     neutro  O correio entregou a correspondência hoje pela...
15   positivo  Recebi elogios do chefe pelo excelente trabalh...
16   negativo  O computador está lento e atrapalha meu trabalho.
17     neutro  A previsão do tempo para amanhã é de sol e céu...
18   positivo  A festa de casamento foi maravilhosa e todos s...
19   negativo        A reunião foi cansativa e durou o dia todo.
20     neutro  A entrega dos produtos ocorreu conforme o plan...
21   positivo           Ganhei na loteria e estou muito animado!
22   negativo  O carro quebrou no meio da estrada e foi um gr...
23     neutro  A biblioteca está aberta das nove às cinco tod...
24   positivo  Passei um tempo agradável com minha família no...
25   negativo  Perdi meu voo e agora preciso esperar pelo pró...
26     neutro  O relatório foi enviado para revisão ontem à t...
27   positivo  A performance no teatro foi incrível e cheia d...
28   negativo  Estou decepcionado com o resultado do jogo de ...
29     neutro     O ônibus passa a cada meia hora durante o dia.

In [55]:
df_sentimentos.head(10)

  sentimento                                          paragrafo
0   positivo  Hoje o dia está ensolarado e perfeito para um ...
1   negativo  Infelizmente, o ônibus atrasou e cheguei tarde...
2     neutro   O café na cozinha acabou e preciso comprar mais.
3   positivo  Recebi uma promoção no trabalho e estou muito ...
4   negativo   Perdi meu celular e estou me sentindo frustrado.
5     neutro  O jantar foi servido às sete da noite como de ...
6   positivo     Passei no exame final e agora posso me formar.
7   negativo  A chuva forte causou muitos transtornos no trâ...
8     neutro  A reunião foi agendada para a próxima quarta-f...
9   positivo  Ganhei um presente maravilhoso de aniversário ...

In [59]:
df_sentimentos.tail(7)

   sentimento                                          paragrafo
23     neutro  A biblioteca está aberta das nove às cinco tod...
24   positivo  Passei um tempo agradável com minha família no...
25   negativo  Perdi meu voo e agora preciso esperar pelo pró...
26     neutro  O relatório foi enviado para revisão ontem à t...
27   positivo  A performance no teatro foi incrível e cheia d...
28   negativo  Estou decepcionado com o resultado do jogo de ...
29     neutro     O ônibus passa a cada meia hora durante o dia.

In [61]:
df_sentimentos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sentimento  30 non-null     object
 1   paragrafo   30 non-null     object
dtypes: object(2)
memory usage: 612.0+ bytes

In [63]:
df_sentimentos.shape

(30, 2)

In [69]:
novo_df = pd.concat( [df_sentimentos, df_sentimentos] )

In [71]:
novo_df.shape

(60, 2)

In [75]:
nao_duplicados_df = novo_df.drop_duplicates()
nao_duplicados_df.shape

In [79]:
novo_df.shape

(60, 2)

In [83]:
novo_df.drop_duplicates(inplace=True)
novo_df.shape

(30, 2)

In [85]:
novo_df.describe()

       sentimento                                          paragrafo
count          30                                                 30
unique          3                                                 30
top      positivo  Hoje o dia está ensolarado e perfeito para um ...
freq           10                                                  1

In [93]:
serie = pd.Series([10, 20, 30, 40, 50], name="Valores")

In [95]:
serie.describe()

count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
Name: Valores, dtype: float64

In [101]:
novo_df["valores"] = serie

In [107]:
atualizado_df = novo_df[ ["sentimento", "valores"] ]

In [119]:
atualizado_df[: -6: -1]

   sentimento  valores
29     neutro      NaN
28   negativo      NaN
27   positivo      NaN
26     neutro      NaN
25   negativo      NaN